<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body style="background-color:#DCDCDC;">
    <div id="52d6543cbecf40599ea5cb3e73f61520" class="chart-container" style="width:1500px; height:700px;"></div>
    <script>
        var chart_52d6543cbecf40599ea5cb3e73f61520 = echarts.init(
            document.getElementById('52d6543cbecf40599ea5cb3e73f61520'), 'white', {renderer: 'canvas'});
        var option_52d6543cbecf40599ea5cb3e73f61520 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u64ad\u653e\u91cf",
            "legendHoverLink": true,
            "data": [
                "30670.6764",
                "16867.8444",
                "13123.3302",
                "12544.5768",
                "9990.5932",
                "9211.3468",
                "8089.0736",
                "7031.7821",
                "6952.3661",
                "6651.9066",
                "6240.2030",
                "5841.4019",
                "5639.6249",
                "5164.0322",
                "4811.7932",
                "2466.2345"
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u6295\u5e01\u91cf",
            "legendHoverLink": true,
            "data": [
                "1190.4254",
                "356.5133",
                "450.6063",
                "354.4994",
                "243.0509",
                "118.5211",
                "111.5798",
                "73.3064",
                "272.8180",
                "82.9590",
                "165.8840",
                "213.8675",
                "166.8272",
                "188.5018",
                "75.3074",
                "13.4019"
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u5f39\u5e55\u91cf",
            "legendHoverLink": true,
            "data": [
                "133.0883",
                "95.1207",
                "72.5042",
                "37.7565",
                "107.7730",
                "46.7030",
                "24.7525",
                "7.8149",
                "19.7115",
                "17.8384",
                "47.0573",
                "29.2851",
                "29.7499",
                "30.0884",
                "40.9810",
                "7.5313"
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u6536\u85cf\u91cf",
            "legendHoverLink": true,
            "data": [
                "899.3130",
                "392.9008",
                "199.9453",
                "348.3529",
                "271.0552",
                "491.2038",
                "72.5088",
                "79.2519",
                "184.8968",
                "66.5254",
                "160.1801",
                "123.9810",
                "55.2378",
                "252.4205",
                "57.7984",
                "13.5007"
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u70b9\u8d5e\u91cf",
            "legendHoverLink": true,
            "data": [
                "1782.9691",
                "766.2356",
                "1057.4834",
                "855.8870",
                "583.3005",
                "326.0268",
                "524.9849",
                "441.2230",
                "553.8851",
                "336.1671",
                "378.4902",
                "483.1637",
                "426.3531",
                "318.8139",
                "281.2315",
                "91.2940"
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u56de\u590d\u91cf",
            "legendHoverLink": true,
            "data": [
                "37.2689",
                "35.4796",
                "41.5715",
                "25.2942",
                "20.2592",
                "16.4015",
                "18.6331",
                "8.4515",
                "19.9364",
                "11.5575",
                "12.3145",
                "19.2918",
                "10.2198",
                "17.7986",
                "17.2824",
                "5.4443"
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "\u8f6c\u53d1\u91cf",
            "legendHoverLink": true,
            "data": [
                "338.9585",
                "231.6974",
                "97.5841",
                "118.4539",
                "58.4586",
                "85.8329",
                "46.8913",
                "39.3886",
                "64.0352",
                "14.0530",
                "28.2608",
                "31.7468",
                "14.4144",
                "38.6636",
                "16.7762",
                "9.4515"
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u64ad\u653e\u91cf",
                "\u6295\u5e01\u91cf",
                "\u5f39\u5e55\u91cf",
                "\u6536\u85cf\u91cf",
                "\u70b9\u8d5e\u91cf",
                "\u56de\u590d\u91cf",
                "\u8f6c\u53d1\u91cf"
            ],
            "selected": {
                "\u64ad\u653e\u91cf": true,
                "\u6295\u5e01\u91cf": true,
                "\u5f39\u5e55\u91cf": true,
                "\u6536\u85cf\u91cf": true,
                "\u70b9\u8d5e\u91cf": true,
                "\u56de\u590d\u91cf": true,
                "\u8f6c\u53d1\u91cf": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u9b3c\u755c",
                "\u821e\u8e48",
                "\u5168\u7ad9",
                "\u97f3\u4e50",
                "\u77e5\u8bc6",
                "\u65f6\u5c1a",
                "\u751f\u6d3b",
                "\u52a8\u7269\u5708",
                "\u52a8\u753b",
                "\u5f71\u89c6",
                "\u56fd\u521b\u76f8\u5173",
                "\u6e38\u620f",
                "\u7f8e\u98df",
                "\u79d1\u6280",
                "\u5a31\u4e50",
                "\u6c7d\u8f66"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{value} /\u4e07"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "06-24\u5404\u5206\u533a\u5404\u9879\u6570\u636e\u7edf\u8ba1",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "toolbox": {
        "show": true,
        "orient": "horizontal",
        "itemSize": 15,
        "itemGap": 10,
        "left": "80%",
        "feature": {
            "saveAsImage": {
                "type": "png",
                "backgroundColor": "auto",
                "connectedBackgroundColor": "#fff",
                "show": true,
                "title": "\u4fdd\u5b58\u4e3a\u56fe\u7247",
                "pixelRatio": 1
            },
            "restore": {
                "show": true,
                "title": "\u8fd8\u539f"
            },
            "dataView": {
                "show": true,
                "title": "\u6570\u636e\u89c6\u56fe",
                "readOnly": false,
                "lang": [
                    "\u6570\u636e\u89c6\u56fe",
                    "\u5173\u95ed",
                    "\u5237\u65b0"
                ],
                "backgroundColor": "#fff",
                "textareaColor": "#fff",
                "textareaBorderColor": "#333",
                "textColor": "#000",
                "buttonColor": "#c23531",
                "buttonTextColor": "#fff"
            },
            "dataZoom": {
                "show": true,
                "title": {
                    "zoom": "\u533a\u57df\u7f29\u653e",
                    "back": "\u533a\u57df\u7f29\u653e\u8fd8\u539f"
                },
                "icon": {},
                "xAxisIndex": false,
                "yAxisIndex": false,
                "filterMode": "filter"
            },
            "magicType": {
                "show": true,
                "type": [
                    "line",
                    "bar",
                    "stack",
                    "tiled"
                ],
                "title": {
                    "line": "\u5207\u6362\u4e3a\u6298\u7ebf\u56fe",
                    "bar": "\u5207\u6362\u4e3a\u67f1\u72b6\u56fe",
                    "stack": "\u5207\u6362\u4e3a\u5806\u53e0",
                    "tiled": "\u5207\u6362\u4e3a\u5e73\u94fa"
                },
                "icon": {}
            },
            "brush": {
                "icon": {},
                "title": {
                    "rect": "\u77e9\u5f62\u9009\u62e9",
                    "polygon": "\u5708\u9009",
                    "lineX": "\u6a2a\u5411\u9009\u62e9",
                    "lineY": "\u7eb5\u5411\u9009\u62e9",
                    "keep": "\u4fdd\u6301\u9009\u62e9",
                    "clear": "\u6e05\u9664\u9009\u62e9"
                }
            }
        }
    },
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "vertical",
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_52d6543cbecf40599ea5cb3e73f61520.setOption(option_52d6543cbecf40599ea5cb3e73f61520);
    </script>
 <p style="height:28px;" align="center">
    <a href="./index.html" target="_blank">返回首页</a>
</p>
</body>
</html>
