<!DOCTYPE html>
<html>
<head>
    <title>bilibili 数据分析</title>
    <base target="_blank" />
    <meta charset="UTF-8">
    <style>
div.absolute {
  position: absolute;
  top: 200px;
  height: 600px;
  border: 2px ;
  left:30%;
  margin-left: -70px;
}
</style>
</head>
<body background="./pic/3.jpg">
    <div id="container" >
    <div id="header" style="background-color:; left:30%; margin-left: -70px;">
    <h2 align="center" style="color:#FFFFFF">哔哩哔哩热门数据分析</h2></div>
       <!--- <hr size=8 width=100% color=#A9A9A9><hr/> --->
        <p >
    <div class="absolute" style="background-color: ;width:400px;left:55%;margin-left: -45px; ">
    <h3 style="height:28px;" align="center">
    <a href="./06-23各分区各项数据统计.html" style="color:#E6E6FA" target="_blank " >06-23各分区各项数据统计</a>
</h3><br>
   <h3 style="height:28px;" align="center">
    <a href="./06-24各分区各项数据统计.html" style="color:#E6E6FA" target="_blank">06-24各分区各项数据统计</a>
</h3><br>
   <h3 style="height:28px;" align="center">
    <a href="./06-25各分区各项数据统计.html" style="color:#E6E6FA" target="_blank">06-25各分区各项数据统计</a>
</h3><br>
    <h3 style="height:28px;" align="center">
    <a href="./06-26各分区各项数据统计.html" style="color:#E6E6FA" target="_blank">06-26各分区各项数据统计</a>
</h3><br>
    </div>
        </p>

        <p >
    <div class="absolute" style="background-color: ;width:400px;left:78%;margin-left:-22px; ">
        <h3 style="height:28px;" align="center">
    <a href="./排行榜视频播放量总和.html" style="color:#E6E6FA" target="_blank">排行榜视频播放量总和</a>
</h3><br>
<h3 style="height:28px;" align="center">
    <a href="./分区热度南丁格尔图时间轴.html" style="color:#E6E6FA" target="_blank">分区热度南丁格尔图时间轴</a>
</h3><br>

 <h3 style="height:28px;" align="center">
    <a href="./某日各分区描述性统计图.html" style="color:#E6E6FA" target="_blank">每日各分区描述性统计图</a>
</h3><br>
   <h3 style="height:28px;" align="center">
    <a href="./热门词频统计.html" style="color:#E6E6FA" target="_blank">热门词频统计</a>
</h3>
    </div>
        </p>

    </div>
</body>
</html>